body{
    background-color: #b2c1f1;
    font-family: sans-serif;
    margin: 0px;
}
.search{
    display: flex;
    border: solid;
    border-width: 2px;
    margin-top: 5%;

}
.search .bar{
    border: none;
    width: 85%;
}
.button{
    width: 15%;
    background-color: #ffffff;
}
.heading{
    display: flex;
    background-color:#47AEF0;
    margin-bottom: 0px;
    /* height: 100%; */
}
.row{
    display: flex;
    margin-bottom: 10px;
}
.label{
    flex-basis: 45%;
    text-align: right;
}
#allform input{
    margin-left: 20px;
}
.group{
    margin-left: 3%;
}
.logo{
    margin-left: 5%;
    margin-top: 1%;
}
.block{
    display: inline-block;
    background-color: #ebdeded5;
    border: solid;
    border-color: #353333;
    border-width: 2px;
    text-decoration: none;
}
.content{
    margin-left: 2%;
}

.formbutton{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.block{
    margin-left: 3%;
    margin-top: 2%;
}
h2{
    margin-left: 3%;
    margin-bottom: 0px;
}
.moviename{
    margin-left: 3px;
    font-weight: bold;
    color: black;
}
.block a{
    text-decoration: none;
}

.block {
    text-decoration: none;
}

.links ul{
    margin-top: 12%;
    display: flex;
}
.links ul li{
    display: inline-block;
    border: solid;
    border-width: 2px;
    background-color: #f88787;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    width: 100%;
    color: black;
}
.other{
    margin-left: 20px;
}
ul .other:hover{
    border-color: white;
    background-color: #f79f9f;
    border-radius: 20px;
    font-weight: bold;
}
.formhead{
    margin-left: 45%;
    margin-bottom: 20px;
}
.addmovie{
    background-color: #f88787;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.addmovie:hover{
    border-color: white;
    font-weight: bold;
    cursor: pointer;
}
.leftside{
    display: flex;
    /* flex-direction: column;
    justify-content: flex-end; */
}
.details{
    margin-left: 40px;
    margin-top: 15%;
}
.imagedetails{
    display: flex;
    justify-content: center;
}
.movieposter{
    text-decoration: none;
}
.tags{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.tags li{
    display: inline-block;
    background-color: #cea6f3;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}
.searchandnav{
    background-color:#47AEF0;
}
.detailspage h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.block img{
    height: 382px;
    width: 270px;
}
#image{
    height: 382px;
    width: 270px;
}
/* .column{
    display: flex;
    flex-direction: column;
} */
.menu{
    position: relative;
}
.opacity{
    opacity:0.5;
}
.hidden{
    display:none;
}
#delete{
    position: absolute;
    top:4%;
    left: 80%;
}
