body{
    background-color: #e0cb9a;
    font-family: sans-serif;
    margin: 0px;
}
.search{
    display: flex;
    border: solid;
    border-width: 2px;
    margin-top: 5%;
    width: 100%;

}
.search .bar{
    border: none;
    width: 85%;
}
.button{
    width: 15%;
    background-color: #ffffff;
}
.heading{
    display: flex;
    margin-bottom: 2.5%;
    background-color:#47AEF0;
    height: 100%;
}
.row{
    display: flex;
}
.row .label{
    flex-basis: 7%;
    text-align: right;
}
#allform input{
    margin-left: 20px;
}
.group{
    margin-left: 5%;
}
.logo{
    margin-left: 2%;
    margin-top: 1%;
}
.block{
    display: inline-block;
    background-color: white;
    border: solid;
    border-width: 2px;
}
.content{
    margin-left: 2%;
}
.row{
    margin-top: 5px;
}
.formbutton{
    display: flex;
    justify-content: flex-end;
    width: 10%
}
